body{
	color: #333;
	margin: 0;
}
header, div, footer, p{
	margin: 0;
}
p {
	padding: 1em 0 1em 0;
}
header{
	background-color: #333;
	color: #fff;
}
header h1 {
	margin-bottom: 0;
}
.columna1{
	background-color: #f5f5f5;
}
.columna2{
	background-color: #fff;
}
#intro p{
	color: #666;
}
footer{
	background-color: #f5f5f5;
	color: #999;
}
a {
	text-decoration: none;
	color: #c00000;
}
a:hover {
	text-decoration: underline;
}
footer a {
	color: #999;
}
#avis_legal {
	border-top: 2px solid #ccc;
	padding: 20px 0;
}
