.esquema-1-columna{
  max-width: 960px;
  margin: auto;
}
.esquema-2-columna{
  max-width: 960px;
  margin: auto;
}

footer .logo {
	float: left;
	padding: 1em 0 1em 0;
  margin-right: 20px;
  max-width: 33%;
}
footer .text_avis_legal {
	float: right;
  max-width: 66%;
}
