body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 35px;
}

a {
	font-weight: 600;
}

#news p {
	font-size: 14px;
}

#news a {
 	font-size: 14px;
 	font-weight: 600;
}
footer {
	font-size: 0.688em;
}